In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel('Records.xlsx')

In [3]:
df.head()

,Timestamp,Email Address,ضع صفحتك بالإجابة,Score,Column 3
0,2025-03-08 18:31:18,br20231306@sva.edu.eg,https://basmala353.github.io/myfirstwebpage/,NaN,NaN
1,2025-03-08 18:33:02,sa20234299@sva.edu.eg,سميه احمد رمضان,NaN,NaN
2,2025-03-08 18:39:52,hh20233201@sva.edu.eg,30509051400865,NaN,NaN
3,2025-03-08 18:47:53,ae20232347@sva.edu.eg,https://abdo20232347.github.io/my_repo/,NaN,NaN
4,2025-03-08 19:12:55,em20235255@sva.edu.eg,em20235255@sva.edu.eg,NaN,NaN

In [4]:
df = df[df['ضع صفحتك بالإجابة'].str.contains(r'io', regex=True, na=False)].iloc[:,1:3].drop_duplicates(subset= "ضع صفحتك بالإجابة", keep="first")
df.to_excel('Without Duplication.xlsx', index = False)

In [5]:
df.head()

,Email Address,ضع صفحتك بالإجابة
0,br20231306@sva.edu.eg,https://basmala353.github.io/myfirstwebpage/
3,ae20232347@sva.edu.eg,https://abdo20232347.github.io/my_repo/
7,as20232312@sva.edu.eg,https://3mm0r.github.io/snakegame/
9,am20234326@sva.edu.eg,https://abdullahmahmoud20234326.github.io/Firs...
16,mennatarekhossny@gmail.com,https://mandoxl.github.io/mena/

In [6]:
with open('index.html', 'w') as fl:
    fl.write("""<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students' Projects</title>
    <link rel="stylesheet" href="Styles.css">
</head>
    <body>
        <img src="Logo.jpg" alt="Image not found">
        <h1 style="padding: auto;">Science Valley Academy Students' Home Pages (2025)</h1>""")
    fl.write('\n\t\t<div class="table-container">\n')
    fl.write('\t<table>\n')
    fl.write("\t\t<tr>\n")
    fl.write("\t\t\t<th>No.</th>\n")
    fl.write("\t\t\t<th>Email</th>\n")
    fl.write("\t\t\t<th>Home Page</th>\n")
    fl.write("\t\t</tr>\n")
    counter = 1
    for i in df.index:
        fl.write("\t\t<tr>\n")
        # Serial
        fl.write("\t\t\t<td>" + str(counter) + "</td>\n")
        counter += 1
        # Email
        fl.write("\t\t\t<td>" + df.loc[i][0] + "</td>\n")
        # URL
        fl.write("\t\t\t<td><a href=" + df.loc[i][1] + " target=_blank>" + df.loc[i][1] +"</a></td>\n")
        fl.write("\t\t</tr>\n")
    fl.write("""</div></body>
    </html>""")